<div class="contanier pt_profile">
    <form >
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username">
                    
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg btn-general btn-white">Edit Profile</button>
            </div>
        </div>
    </form>
</div> 
<!-- <div class="text-center">
    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
    <h6>Upload a different photo...</h6>
    <input type="file" class="text-center center-block file-upload">
  </div> -->