<app-pre-auth></app-pre-auth>
<div class="bg-img">
  <img src="../../../../assets/image/home/slider/home.jpg" alt="" height="800" width="1200">
</div>
<div class="container">
  <div class="wrap">
  <div class="profile_img">
    <img src="../../../../assets/image/doctor/profile pic" alt="" >
  </div>
  <form class="input_box" >
      <input type="text" class="form-control input" placeholder="Name">
      <input type="text" class="form-control input" placeholder="Email">
      <input type="text" class="form-control input" placeholder="Address">
      <input type="text" class="form-control input" placeholder="Phone Number">
     <button class="btn document_btn">Upload Document</button>
     <button class="btn save_btn">Save</button>
  </form>
</div>
</div>