<!-- <div class="doc-profile-outer">
<div class="card doc-profile">
<div class="container">
<div class="card-body">

    
    <div class="profile-picture">
        <img src="../../../../assets/image/doctor/dr-arghya-maitra.jpg" alt="">
        <button class="file btn btn-lg btn-primary">Change Photo
          
        </button>
        
    </div>

         <form>
            <div class="row">
                <div class="col">
                    <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" value="Arghya">
                </div>
                <div class="col">
                    <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" value="Maitra">
                </div>
              </div>
              
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" value="abc@gmail.com">
              </div>
              <div class="form-group">
                <label for="chembur">Chemburs</label>
                <input type="textarea" id="chem" class="form-control" value="Woodlands Hospital(Wed 2.00PM - 4.00PM),Seema (Mon-Sat 16hrs.)">
              </div>
              <div class="form-group">
                <label for="Specialization">Specialization</label>
                <input type="text" class="form-control" id="Specialization" placeholder="Gynaecologist & Obsterician">
              </div>
              <div class="form-group">
                <label for="Qualification">Qualifiction</label>
                <input type="text" class="form-control" id="Qualification" placeholder="MBBS, MS(OBS & GYNAE),FISOG">
              </div>
              
        </form> 
        
    </div>  
 </div>
</div>
</div>
  -->
  <!-- <div class="container">
  <div class="profile-picture">
    <img src="../../../../assets/image/doctor/dr-arghya-maitra.jpg"  class="rounded-circle" alt="Circular Image">
  
  </div><br>
<div class="name"><b>Dr.ARGHYA MITRA</b></div>
<div class="name" >abc@gmail.com</div>
<div class="name">Gynaecologist & Obsterician</div>
<div class="name">MBBS, MS(OBS & GYNAE),FISOG</div>
<div class="name">Chemburs-Woodlands Hospital(Wed 2.00PM - 4.00PM)
  <br>Seema (Mon-Sat 16hrs.)<br>Bhagirathi Neotia(Mon 3.00PM-5.00PM)<br>Kothari Medical Centre(Thu 2.00PM-4.00PM)</div>
</div> -->
<div class="profile-bg">
<div class="profile-outer">
  <div class="profile-outer_upper">
    <div class="profile-outer_upper_left">
     <img src="../../../../assets/image/doctor/dr-arghya-maitra.jpg" alt="">
    </div>
    <div class="profile-outer_upper_right">
      <h3>DR.ARGHYA MITRA</h3>
      <h5>abc@gmail.com</h5>
      <h5>Gynaecologist & Obsterician</h5>
      <h5>MBBS, MS(OBS & GYNAE),FISOG</h5>
    </div>
  </div>
  <div class="profile-outer_lower">
    <h3>ORGANIZATION</h3>
    <div class="oraganisation-list">
    <ul>
    
      <li><div class="Or_name"><h5>Bhagirathi Neotia</h5></div>
      <div class="Or_time"> <h5>Mon (3.00PM-5.00PM)</h5></div>
    </li>
    <li><div class="Or_name"><h5>Kothari Medical Centre</h5></div>
    <div class="Or_time"><h5>Thu (2.00PM-4.00PM)</h5></div>
  </li>
     <li> <div class="Or_name"><h5>Seema </h5></div>
    <div class="Or_time"><h5>Mon-Sat (16hrs.)</h5></div>
  </li>
    <li><div class="Or_name"><h5>Woodlands Hospital</h5></div>
    <div class="Or_time"><h5>Wed (2.00PM - 4.00PM)</h5></div></li>

    
    
  </ul>
  </div>

  </div>
</div>
</div>