.navbar
{
    padding: 7px 0;
    
}

.logo{
    margin-left: 150px;
    height: 60px;
    width: 60px;
}
.logo img{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.navbar-expand-lg{
    background: rgba(0,0,0,0.7);
}
.navbar-nav > li > a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    background: none;
    color: #34c6d3;
}
#navbarSupportedContent{
    padding-left: 250px;
}
