
<app-pre-auth></app-pre-auth>
  <!-- <div class="Home-cover">
    <div class="Home-Box">
        <div class="Home-Box-Inner"> 
            <h1 class="title animated zoomIn">AYUSMAT</h1>
            <button class="btn btn-lg btn-general btn-white animated zoomIn ">More</button>
        </div>
    </div>
  </div> -->
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/image/home/slider/home.jpg" alt="home">
        <div class="carousel-caption animated zoomIn">
          <h3>AYUSMAT</h3>
          <button class="btn btn-lg btn-general btn-white animated zoomIn ">More</button>
        </div>  
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/home/description/exercise.jpg" alt="exercise" >
        <div class="carousel-caption animated zoomIn">
          <h3>AYUSMAT</h3>
          <button class="btn btn-lg btn-general btn-white animated zoomIn ">More</button>
        </div>  
      </div>
      <div class="carousel-item ">
        <img src="../../../assets/image/home/slider/home.jpg" alt="home" >
        <div class="carousel-caption animated zoomIn">
          <h3>AYUSMAT</h3>
          <button class="btn btn-lg btn-general btn-white animated zoomIn ">More</button>
        </div>  
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a> -->
  </div>
  <!--services-->
  <div class="content-box" id="Service_link">
    <h3 class="content-title"> Service</h3>
    <div class="content-title-underline"></div>
  <div class="container">
    <div class="row">
      
      <div class="col-md-4">
        <div class="service-item">
          <div class="service-item-icon">
            <i class="fa fa-search fa-2x"></i>
          </div>
         
            <h3 class="service-item-title">Search specialization</h3>
          
          <div class="desc">serach specializtion as per your requiredment</div>
        </div>
       </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="service-item-icon">
            <i class="fa fa-stethoscope fa-2x"></i>
          </div>
        
            <h3 class="service-item-title">find doctor</h3>
          
          <div class="desc">serach specializtion as per your requiredment</div>
        </div>
      </div>
       <div class="col-md-4"><div class="service-item">
        <div class="service-item-icon">
          <i class="fa fa-file fa-2x"></i>
        </div>
      
          <h3 class="service-item-title">upload document</h3>
        
        <div class="desc">serach specializtion as per your requiredment</div>
      </div></div>
    </div>
  </div>
  </div>
<!--aboutus-->

  <!-- <div class="contaniner">
    <div class="row">
      <div class="col-md-4">
        <div id="about-content-box">
        <div id="about-content-box-outer">
          <div id="about-content-box-inner"> 
             <h3 class="content-title"> About Us</h3>
            <div class="content-title-underline"></div>
            <div id="about-desc">
             visit our side and dbjkds hdjh hfjkdhf jkfkjkdj jkfkjkdjnbfjdf 
             bbfjhdf fjdfdshf hfkjghrdjgh bgjkdfhg hghgkjfdhgf hfgjkfdhgfkd
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
 

<div class="test">
  <div class="container-fluid">
    <div class="row">
      <div class="about-desc col-md-5">
        <h3 class="content-title" id="about_link"> Our Aim</h3>
        <div class="content-title-underline"></div>
        We care about your time as much as we care about your time. We introduce this website to save your time and your health. Find doctors near you and contact with them.

       <br> Worried about losing your presciption? Upload your presciptions in your profile and stay organised.
      </div>
      <div class="pic about col-md-7">
        <div class="rig upper"></div>
        <div class="rig lower"></div>
      </div>
    </div>
  </div>
</div>
<!-- structure -->
<div class="test">
  <div class="container-fluid">
    <div class="row">
      <div class="pic exercise col-md-7">
        <div class="lef upper"></div>
        <div class="lef lower"></div>
      </div>
      <div class="about-desc col-md-5">
        <h3 class="content-title">Exercise</h3>
        <div class="content-title-underline"></div>
        Start where you are. Do what you can. Never stop. Keep going.There are no shortcuts to living your greatest life and becoming your best self.You are much stronger than you think.Put all excuses aside and remember this: YOU are capable.
      </div>
      
    </div>
  </div>
</div>

<div class="test">
  <div class="container-fluid">
    <div class="row">
      <div class="about-desc col-md-5">
        <h3 class="content-title"> Food habit</h3>
        <div class="content-title-underline"></div>
        “You may have to fight a battle more than once to win it.”  —Margaret Thatcher

        Changing your eating and activity habits is not always easy.  In fact, in order to successfully change a health-related habit, people need to undertake 5-to-6 attempts on average (Polivy & Herman, 2002). Although this may be discouraging, it’s important to realize that if your last attempt to change your eating and physical activity habits didn’t work, this doesn’t mean you should give up for good. Fight another battle following an evidence-based battle plan (Markey, 2015). In other words, free yourself of the fads and the typical approaches to weight loss and fitness that are unlikely to work—and don’t despair.
      </div>
      <div class="pic healthy_food col-md-7">
        <div class="rig upper"></div>
        <div class="rig lower"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  
  
  
  