 .social-list{
    padding-left: 0;
}
.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 6px;
    margin-right: 10px;
} 
.social-icon i {
    font-size: 17px;
}
.icon-white i{
    color: #64707b;
}
.social-icon i:hover{
    color: #34c6d3;
} 
footer{
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}
.content-left h3 ,
.content-right h3{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}
.content-left p{
    color: #fff;
    margin-bottom: 30px;
}
 form .form-control{
     background: transparent; 
     border-color: #fff;
     font-size: 17px;
     font-weight: 300;
     padding:8px 16px;
     margin-bottom: 20px;
     color: #fff;
 }
 .btn-general{
    border-color:#fff;
    border-width: 2px;
    border-radius: 5;
   
    font-size: 16px;
    font-weight:350 ;
    text-transform: uppercase;
}
.btn-white{
    border-color: #fff ;
    color: #fff;
}
.btn-white:hover ,.btn-white:focus
{
    background-color: #fff;
    color:#41464b

}
.footer-bottom{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px ;
    margin-top: 60px;
}
.footer-copyrights p{
    margin: 0;
    color: #fff;
}
.footer-menu{
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
 }
/*.footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.footer-menu ul li{
    display: inline-block;
}
.footer-menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}
.footer-menu a:hover{
    color: #34c6d3;
} */