<div class="container mt-3">
    <div class="row">
        
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/dr-arghya-maitra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr Arghya Maitra</h5>
                        <p class="card-text">Gynaecologist & Obsterician</p>
                        <a href="doc-profile" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
               <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Sharmistha patra</h5>
                    <p class="card-text">Obstertrician-gynocologist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/kavita_mandal.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Kavita Mandal</h5>
                    <p class="card-text">Gynocologist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/Subhendu_Mandal.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subhendu Mandal</h5>
                    <p class="card-text">ENT</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
            <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr Prasenjit Ganguly</h5>
                    <p class="card-text">ENT</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr Biswanath Mukhopadhyay</h5>
                        <p class="card-text">Pediatric</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
       
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fgfd</h5>
                        <p class="card-text">Pediatric</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        
    
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fdgdf</h5>
                        <p class="card-text">fdgdf</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
     
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fdgfdg</h5>
                        <p class="card-text">dgdf</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">vfgdf</h5>
                        <p class="card-text">ffdg</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
       
            <div class="bs-example">
                <div class="card doctor_block">
                    <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr. Nlknkl</h5>
                        <p class="card-text">Dentist</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. fhg</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. ddfd</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr.bvc</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. wewea</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="card doctor_block">
                <img src="../../../../assets/image/doctor/profile pic" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Sopo</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>

        
    </div> 
   