<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/dr-arghya-maitra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr Arghya Maitra</h5>
                        <p class="card-text">Gynaecologist</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Sharmistha patra</h5>
                    <p class="card-text">Obstertrician-gynocologist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/kavita_mandal.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Kavita Mandal</h5>
                    <p class="card-text">Gynocologist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/Subhendu_Mandal.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subhendu Mandal</h5>
                    <p class="card-text">ENT</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4">
            <div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr Prasenjit Ganguly</h5>
                    <p class="card-text">ENT</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr Biswanath Mukhopadhyay</h5>
                        <p class="card-text">Pediatric</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fgfd</h5>
                        <p class="card-text">Pediatric</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fdgdf</h5>
                        <p class="card-text">fdgdf</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">fdgfdg</h5>
                        <p class="card-text">dgdf</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">vfgdf</h5>
                        <p class="card-text">ffdg</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bs-example">
                <div class="card" style="width: 300px;">
                    <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dr. Nirmalya Samajpati</h5>
                        <p class="card-text">Dentist</p>
                        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        <div class="col-md-4"><div class="bs-example">
            <div class="card" style="width: 300px;">
                <img src="../../../../assets/image/doctor/sharmishtha_patra.jpg" class="rounded-circle" alt="Circular Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. Subendu Maity</h5>
                    <p class="card-text">Dentist</p>
                    <a href="#" class="btn btn-primary stretched-link">View Profile</a>
                </div>
            </div>
        </div></div>
        
    </div> 
   